@{
    ViewData["Title"] = "About";
}
<div class="row">
    <h1 class="col-sm-12">About</h1>
    <h3 class="col-sm-12">A few more details about us</h3>
    <!-- I didn't like how img-fluid class looked here, it made the logo look far too large -->
    <img class="rounded col-sm-2" src="~/Images/logo.svg" />
    <p class="col-sm-6">
        At LoanCalculators, we are trying to make loans and financing accessible to everyone <br />
        <b>not </b> just those who have fancy accounting degrees.
        <br /><br />
        Our calculators are made easy so that you can just enter numbers and find out what you need.<br />
        No math or TI-84s needed!
    </p>
</div>